.Forecast__ {
  display: flex;
  width: 100%;

  .ForecastContainer__ {
    width: 100%;

    &buttons-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .ForecastOptions__ {
        display: flex;

        .forecast-btn {
          display: block;
          padding: 6px 0;
          min-width: 0;
          width: fit-content;
          background: transparent;
          font-size: 1.17em;
          text-transform: initial;
          opacity: 1 !important;
          margin-right: 1rem;

          &:nth-child(2),
          &:nth-child(3) {
            padding: 6px 8px;
          }
        }
      }
    }

    &container {
      position: relative;
      display: flex;

      .today {
        background: #bbd7ec;
      }

      .forecast,
      .air {
        position: absolute;
        top: 0.75rem;
        color: #737277;
        cursor: pointer;
      }

      .forecast {
        left: 1rem;

        &::before {
          content: "test";
          user-select: none;
        }
      }

      .air {
        position: absolute;
        right: 1rem;
      }
    }
  }
}

.unchecked {
  color: #757575 !important;
}

.hidden {
  opacity: 0;
}

.MuiSwitch-thumb {
}
