.Forecast__ {
  display: flex;
  width: 100%;

  .ForecastContainer__ {
    width: 100%;

    &buttons-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .ForecastOptions__ {
        display: flex;

        .forecast-btn {
          display: block;
          padding: 6px 0;
          min-width: 0;
          width: fit-content;
          background: transparent;
          font-size: 1.17em;
          text-transform: initial;
          opacity: 1 !important;
          margin-right: 1rem;

          &:nth-child(2),
          &:nth-child(3) {
            padding: 6px 8px;
          }
        }
      }
    }

    .ForecastContainer__container {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 0;

      .SevenDay__ {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .today__ {
        background: #bbd7ec;
      }

      .Day__ {
        display: flex;
        flex-direction: column;
        background: #1b1b1d;
        padding: 1em;
        border: none;
        border-radius: 1em;

        hr {
          width: 100%;
          padding: 0 1em;
        }
      }
    }
  }
}

.unchecked {
  color: #757575 !important;
}

.hidden {
  opacity: 0;
}

.MuiSwitch-thumb {
}
