.am-weather-rain-1 {
  animation-name: am-weather-rain;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.am-weather-rain-2 {
  animation-name: am-weather-rain;
  animation-delay: 0.25s;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes am-weather-rain {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -100;
  }
}
