* {
  box-sizing: border-box;
  transition: 250ms ease;
}

#root {
  height: 100vh;
}

.App_ {
  height: 100%;
  padding: 2rem;
}

.content {
  display: grid;
  grid-template-columns: 75% 25%;
  // height: 100%;
  border: none;
  border-radius: 2rem;
  padding: 2rem;
  padding-inline: 2rem;
  margin-top: 4rem;

  > div:nth-child(even) {
    padding-left: 2rem;
  }
}

.forecast-rain-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
