.Map__ {
  .Map__container {
    position: relative;

    .Map__container-buttons {
      position: absolute;
      top: 3rem;
      left: 39.75rem;
      display: flex;
      flex-direction: column;
      width: 1rem !important;

      .MuiButton-root {
        width: 3rem !important;
        box-shadow: 0 0 0.5rem rgba(0 0 0 / 0.5) !important;
      }

      button:nth-child(1),
      button:nth-child(3) {
        margin-block: 1em;
      }
    }
  }
}

.mapbox-container {
  position: relative;
}

.map-container {
  max-height: 400px;
  min-height: 200px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

// * mapbox

.mapboxgl-canvas {
  border-radius: 1.5rem;
  z-index: 0;
}

.mapboxgl-marker {
  svg {
    &:active {
      transform: translateY(-4px);
      transition: 250ms ease;
    }

    path {
      fill: red;
    }
  }
}

[aria-label="Map marker"].mapboxgl-marker {
  z-index: 1;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl {
  button {
    cursor: pointer;
  }
}

.mapboxgl-ctrl-compass {
  span {
    cursor: pointer;
  }
}
