.ChanceOfRain__ {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;

  &wrapper {
    display: flex;
    align-items: center !important;
    z-index: 10;

    .MuiStack-Root {
      display: flex;
      flex-direction: column !important;
      align-items: center !important;
    }

    &-span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.MuiSlider-thumb {
  display: none !important;
}

.MuiSlider-rail,
.MuiSlider-track {
  color: lightblue !important;
}

.Box {
  position: relative;

  .background {
    position: absolute;
    top: -2rem;
    left: -4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    height: 350px;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;

    .rainType {
      display: grid;
      grid-template-columns: 2.75rem auto;
      width: 100%;
      gap: 1rem;

      p {
        margin: 0;
        color: white;
      }

      .line {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        // margin-inline-start: 1rem;

        p {
          width: 100%;
        }
      }
    }
  }
}

.ChanceOfRain__wrapper-span {
  font-size: 12px;
}
