.ChanceOfRain__ {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-left: 4rem; // this and
  padding-left: 1rem; // this allow for positioning without x scrolling

  h3 {
    top: -3rem;
    left: -3rem;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    margin-left: -3rem; // needed to position left from parent
  }

  &wrapper {
    display: flex;
    align-items: center !important;
    z-index: 10;

    .MuiStack-Root {
      display: flex;
      flex-direction: column !important;
      align-items: center !important;
    }

    &-span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.MuiSlider-thumb {
  display: none !important;
}

.MuiSlider-rail,
.MuiSlider-track {
  color: lightblue !important;
}

.Box {
  position: relative;
  margin-top: 1rem;

  .background {
    position: absolute;
    top: -30px;
    left: -4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.75rem;
    height: 350px;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;

    .rainType {
      display: grid;
      grid-template-columns: 2.75rem auto;
      width: 100%;
      gap: 1rem;

      p {
        margin: 0;
        color: white;
      }

      .line {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        hr {
          width: 100%;
          height: 1px;
          border: 1px dashed;
          margin: auto;
        }

        p {
          width: 100%;
        }
      }
    }
  }
}

.MuiSlider-rail,
.MuiSlider-track {
  width: 0.5rem !important;
  border-radius: 10rem 10rem 0 0 !important;
}

.MuiSlider-rail {
  color: #49585f !important;
  opacity: 1 !important;
}

.ChanceOfRain__wrapper-span {
  font-size: 12px;
}
